In [89]:
import pandas as pd

In [90]:
file = pd.read_csv(r"C:\Users\ravin\Downloads\House_preprocessed.csv")

In [91]:
file1 = file.drop(['Feature1','agePossession'], axis=1)

In [92]:
file1.columns

Index(['BHK', 'House', 'Location', 'Bedroom', 'Bathroom', 'balcony', 'carpet',
       'build', 'plot', 'Furnish_Details', 'other', 'Study', 'pooja', 'store',
       'servant', 'Floor', 'price', 'rate', 'society', 'facing',
       'AgeofProperty', 'Feature'],
      dtype='object')

In [93]:
file1

,BHK,House,Location,Bedroom,Bathroom,balcony,carpet,build,plot,Furnish_Details,...,pooja,store,servant,Floor,price,rate,society,facing,AgeofProperty,Feature
0,5,House,Sector 70A Gurgaon,5,4,3+,0,0,Plot area 290(242.48 sq.m.,2,...,0,0,1,3.0,5.25,20115.0,Bptp Visionnaire,North-East,new,49
1,5,House,Sector 21A Faridabad,5,4,2,0,0,0,2,...,1,1,1,2.0,5.7,105751.0,NaN,NaN,old,49
2,10,House,Sushant Lok Phase 1,10,10,3+,0,0,0,2,...,0,0,1,5.0,2.1,38251.0,NaN,West,new,20
3,21,House,Sector 54 Gurgaon,21,21,3+,0,0,Plot area 129(107.86 sq.m.,1,...,0,0,1,5.0,5,43066.0,NaN,North,moderate,49
4,12,House,Sushant Lok Phase 1,12,12,3+,0,0,0,1,...,0,0,0,5.0,3,53763.0,NaN,West,new,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,4,House,Sector 26 Gurgaon,4,4,3,0,0,Plot area 200(167.23 sq.m.,2,...,1,0,1,2.0,5.5,30556.0,DLF City Phase 1,North-East,old,69
1040,3,House,DLF Phase 2,3,2,3,0,0,Plot area 150(125.42 sq.m.,0,...,0,0,0,2.0,4.25,31481.0,DLF City Plots Phase 2,North,very old,35
1041,3,House,Sector 26 Gurgaon,3,3,2,0,0,Plot area 150(125.42 sq.m.,2,...,0,0,1,2.0,4.5,33333.0,DLF City Phase 1,East,old,70
1042,3,House,Sector 26 Gurgaon,3,3,3,0,0,0,2,...,0,0,0,2.0,3.25,33129.0,DLF City Phase 1,West,very old,79
1043,3,House,Bissar,3,3,2,0,0,Plot area 270(225.75 sq.m.,2,...,1,0,1,2.0,3.6,14815.0,Silverglades Tarudhan Valley Golf Resort,NaN,old,160

In [94]:
plot = file1['plot'].str.split('(').str.get(1)

In [95]:
plot1 = plot.str.replace('sq.m.', '').str.strip()

In [96]:
plot2 = plot1.fillna(0)

In [97]:
plot_to_buildup = []

In [98]:
for i in plot2:
    a = float(i) * 10.7639
    plot_to_buildup.append(round(a))

In [99]:
file2 = file1.drop(['plot'], axis=1)

In [100]:
file2.columns

Index(['BHK', 'House', 'Location', 'Bedroom', 'Bathroom', 'balcony', 'carpet',
       'build', 'Furnish_Details', 'other', 'Study', 'pooja', 'store',
       'servant', 'Floor', 'price', 'rate', 'society', 'facing',
       'AgeofProperty', 'Feature'],
      dtype='object')

In [101]:
car = file2['carpet'].str.split('(').str.get(1).str.replace('sq.m.)', '')

In [102]:
car1 = car.fillna(0)

In [103]:
carpet = []

In [104]:
for i in car1:
    a = float(i)* 10.7639
    carpet.append(round(a))

In [105]:
file2['build'] = file2['build'].str.replace('Built Up area:','')

In [106]:
build1 = file2['build'].str.split('(').str.get(1)

In [107]:
build12 = build1.str.replace('sq.m.)', '')

In [108]:
build12 = build12.fillna(0)

In [109]:
build = []

In [110]:
for i in build12:
    a = float(i) * 10.7639
    build.append(round(a))

In [111]:
# build
# carpet
# plot_to_buildup

In [112]:
file2['Build1'] = build
file2['Build1'] = plot_to_buildup
file2['carpet1'] = carpet

In [113]:
file2.columns

Index(['BHK', 'House', 'Location', 'Bedroom', 'Bathroom', 'balcony', 'carpet',
       'build', 'Furnish_Details', 'other', 'Study', 'pooja', 'store',
       'servant', 'Floor', 'price', 'rate', 'society', 'facing',
       'AgeofProperty', 'Feature', 'Build1', 'carpet1'],
      dtype='object')

In [114]:
file3 = file2.drop(['carpet', 'build'], axis=1)

In [118]:
file3['balcony'].unique()

array(['3+ ', '2 ', '1 Balcony', '3 ', nan, 'No Balcony'], dtype=object)

In [120]:
file3['balcony'] = file3['balcony'].str.replace('1 Balcony', '1')

file3['balcony'] = file3['balcony'].str.replace('No Balcony', '0')

In [121]:
file3['balcony'] = file3['balcony'].fillna(0)

In [125]:
file3

,BHK,House,Location,Bedroom,Bathroom,balcony,Furnish_Details,other,Study,pooja,...,servant,Floor,price,rate,society,facing,AgeofProperty,Feature,Build1,carpet1
0,5,House,Sector 70A Gurgaon,5,4,3+,2,0,0,0,...,1,3.0,5.25,20115.0,Bptp Visionnaire,North-East,new,49,2610,0
1,5,House,Sector 21A Faridabad,5,4,2,2,0,0,1,...,1,2.0,5.7,105751.0,NaN,NaN,old,49,0,0
2,10,House,Sushant Lok Phase 1,10,10,3+,2,0,0,0,...,1,5.0,2.1,38251.0,NaN,West,new,20,0,0
3,21,House,Sector 54 Gurgaon,21,21,3+,1,0,0,0,...,1,5.0,5,43066.0,NaN,North,moderate,49,1161,0
4,12,House,Sushant Lok Phase 1,12,12,3+,1,1,0,0,...,0,5.0,3,53763.0,NaN,West,new,20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,4,House,Sector 26 Gurgaon,4,4,3,2,0,1,1,...,1,2.0,5.5,30556.0,DLF City Phase 1,North-East,old,69,1800,0
1040,3,House,DLF Phase 2,3,2,3,0,0,1,0,...,0,2.0,4.25,31481.0,DLF City Plots Phase 2,North,very old,35,1350,0
1041,3,House,Sector 26 Gurgaon,3,3,2,2,0,1,0,...,1,2.0,4.5,33333.0,DLF City Phase 1,East,old,70,1350,0
1042,3,House,Sector 26 Gurgaon,3,3,3,2,0,1,0,...,0,2.0,3.25,33129.0,DLF City Phase 1,West,very old,79,0,0
1043,3,House,Bissar,3,3,2,2,1,1,1,...,1,2.0,3.6,14815.0,Silverglades Tarudhan Valley Golf Resort,NaN,old,160,2430,0

In [126]:
filea = 'house_final.csv'

file3.to_csv(filea, index=False)