In [103]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import plotly

In [104]:
file = pd.read_excel(r"D:\my prepared dataset\99 acres\New folder (2)\final\New folder\house.xlsx")

In [105]:
file1 = pd.read_excel(r"D:\my prepared dataset\99 acres\New folder (2)\final\New folder\flat.xlsx")

In [106]:
file2 = file[~file['society'].isnull()]

In [107]:
file3 = file1[~file1['society'].isnull()]

In [108]:
dof = pd.concat([file2, file3], axis=0)

In [109]:
dof

,Property_type,society,per_sqft,BHK,bedRoom,Location,luxury,Furnished,price
0,House,Bptp Visionnaire,20115.0,5,5,Sector 70A Gurgaon,49,Semi-Furnished,52500000.0
6,House,Emaar MGF Marbella,37037.0,5,5,Sector 66 Gurgaon,106,Semi-Furnished,120000000.0
7,House,Luxury DLF City Floors,48889.0,16,16,DLF Phase 1,31,Semi-Furnished,200000000.0
9,House,Sushant Lok 1 Builder Floors,10077.0,3,3,Sushant Lok Phase 1,78,Semi-Furnished,19500000.0
12,House,DLF City Plots Phase 3,34083.0,13,13,DLF Phase 3,91,Fully-Furnished,50000000.0
...,...,...,...,...,...,...,...,...,...
2975,flat,ansal heights 86,5541.0,3,3,Sector 86,0,Semi-Unfurnished,10500000.0
2976,flat,parsvnath green ville,9984.0,5,5,Sector 48,71,Semi-Unfurnished,33000000.0
2977,flat,raheja vedaanta,5214.0,3,3,Sector 108,95,Semi-Unfurnished,9500000.0
2978,flat,ambience lagoon,12500.0,3,3,DLF Phase 3,68,Fully-Furnished,58000000.0
2979,flat,dlf the crest,35222.0,4,4,Sector 54,125,Fully-Furnished,110000000.0

In [77]:
def final1(input):
    return dof[dof['Location']==input]

In [79]:
final1('Sector 3 Gurgaon')

,property_type,Location,Furnish_Details,society,luxury_score
242,House,Sector 3 Gurgaon,0,Bhim Garh Kheri,0

In [82]:
import pickle

In [110]:


pickle.dump(dof, open('tune.pkl','wb'))

#pickle.dump(final1, open('mech.pkl','wb'))